{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">

            <div class="card shadow-lg">
                <div class="card-body">

                    <h4 class="text-center mb-4">📝 Login dan o'tish</h4>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-success btn-lg">
                                Login dan o'tish
                            </button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}