{% extends "base.html" %}

{% block title %}Kitoblar ro'yxati{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>📖 Kitoblar ro'yxati</h2>
    </div>

    {% if books %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for book in books %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text"><strong>Muallif:</strong> {{ book.author }}</p>
                            <p class="card-text"><strong>Narxi:</strong> {{ book.price }} $</p>

                            <div class="d-flex gap-2">
                                <a href="{% url 'books:book_update' book.id %}" class="btn btn-sm btn-outline-primary">Tahrirlash</a>
                                <a href="{% url 'books:book_delete' book.id %}" class="btn btn-sm btn-outline-danger">O‘chirish</a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Vaqt: {{ book.created_at|date:"d M Y" }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info text-center">
            Hozircha kitoblar mavjud emas.
        </div>
    {% endif %}

    <nav aria-label="...">
        <ul class="pagination">

            {% if books.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ books.previous_page_number }}">Orqaga</a>
            </li>
            {% endif %}


            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
                <a class="page-link" href="#" aria-current="page">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>

            {% if books.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ books.next_page_number }}">Keyingi</a>
            </li>
            {% endif %}

        </ul>
    </nav>

</div>
{% endblock %}